<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.flipperdevices.pair.impl">

    <uses-feature
            android:name="android.software.companion_device_setup"
            android:required="false" />

    <application>
        <activity
                android:exported="false"
                android:launchMode="singleTop"
                android:name="com.flipperdevices.pair.impl.PairScreenActivity" />
    </application>
</manifest>
