<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.flipperdevices.analytics.shake2report.impl">
    <application>
        <meta-data
                android:name="io.sentry.auto-init"
                android:value="false" />
        <meta-data
                android:name="io.sentry.dsn"
                android:value="https://e3c73bc8fe924e97bcb8719dd8b2cee9@sentry.flipperdevices.com/2" />
    </application>
</manifest>