*.iml
.gradle
/local.properties
/.idea/**
/.fleet/**

*.apk

# IDEA/Android Studio Ignore exceptions
!/.idea/codeStyles
# Project icon
!/.idea/icon.png


.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin