<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
                android:exported="false"
                android:label="@string/widget_title"
                android:name=".providers.FlipperSimpleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget" />
        </receiver>
        <receiver
                android:exported="false"
                android:label="@string/widget_title_one_tap"
                android:name=".providers.OneClickWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_onetap" />
        </receiver>
        <receiver
                android:exported="false"
                android:name=".broadcast.WidgetBroadcastReceiver" />
    </application>
</manifest>