<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.flipperdevices.widget.impl">

    <application>
        <receiver
                android:exported="false"
                android:name=".providers.FlipperSimpleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget" />
        </receiver>
    </application>
</manifest>