<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.flipperdevices.singleactivity.impl">

    <application>
        <activity
                android:exported="false"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:name=".SingleActivity"
                android:theme="@style/FlipperTheme"
                android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>