<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.flipperdevices.bottombar">

    <application>
        <activity
                android:launchMode="singleTop"
                android:exported="false"
                android:name="com.flipperdevices.bottombar.main.BottomNavigationActivity" />
    </application>
</manifest>
