name: Android CI

on:
  pull_request:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build debug
        run: ./gradlew assembleDebug
      - name: Unit-test
        run: ./gradlew test
      - name: Build release
        run: ./gradlew assembleRelease
      - uses: actions/upload-artifact@v2
        with:
          name: Flipper-App
          path: app/build/outputs/apk/release/app-release-unsigned.apk