name: Create BaselineProfile files
on:
  workflow_call:
    outputs:
      BUILD_VARIANT_NAME:
        description: "The name of requested build variant"
        value: ${{ jobs.baseline_file.outputs.BUILD_VARIANT_NAME }}
      BASELINE_FILE_ID:
        description: "The identifier of current baseline file"
        value: ${{ jobs.baseline_file.outputs.BASELINE_FILE_ID }}
      BASELINE_FILE_PATH:
        description: "The path for baseline path"
        value: ${{ jobs.baseline_file.outputs.BASELINE_FILE_PATH }}
    inputs:
      BUILD_VARIANT_NAME:
        required: true
        type: string
jobs:
  baseline_file:
    name: Upload baseline profile file
    runs-on: ubuntu-latest
    outputs:
      BUILD_VARIANT_NAME: ${{ steps.create_uppercase_variant.outputs.BUILD_VARIANT_NAME }}
      BASELINE_FILE_ID: ${{ steps.create_baseline_file_id.outputs.BASELINE_FILE_ID }}
      BASELINE_FILE_PATH: ${{ steps.create_baseline_file_path.outputs.BASELINE_FILE_PATH }}
    steps:
      - name: Checkout Git repo
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
        with:
          submodules: 'recursive'

      - name: Set up JDK 17
        uses: actions/setup-java@b36c23c0d998641eff861008f374ee103c25ac73 # v4
        with:
          distribution: 'adopt'
          java-version: 17
      - name: Setup Android SDK
        uses: android-actions/setup-android@00854ea68c109d98c75d956347303bf7c45b0277 # v3
      - run: sdkmanager --list

      # steps.create_uppercase_variant.outputs.BUILD_VARIANT_NAME
      # steps.create_uppercase_variant.outputs.BUILD_VARIANT_NAME_UPPERCASE
      - id: create_uppercase_variant
        run: |
          build_variant="${{ inputs.BUILD_VARIANT_NAME }}"
          echo "BUILD_VARIANT_NAME=${build_variant}" >> $GITHUB_OUTPUT        
          echo "BUILD_VARIANT_NAME_UPPERCASE=${build_variant^}" >> $GITHUB_OUTPUT

      # steps.create_baseline_file_id.outputs.BASELINE_FILE_ID
      - id: create_baseline_file_id
        run: |
          build_variant=${{ steps.create_uppercase_variant.outputs.BUILD_VARIANT_NAME }}
          baseline_file_id="baseline_profile_file_${build_variant}"
          echo "BASELINE_FILE_ID=${baseline_file_id}" >> $GITHUB_OUTPUT
      

      # steps.create_baseline_file_path.outputs.BASELINE_FILE_PATH
      - id: create_baseline_file_path
        run: |
          build_variant=${{ steps.create_uppercase_variant.outputs.BUILD_VARIANT_NAME }}
          baseline_file_path="./instances/android/app/src/${build_variant}/generated/baselineProfiles/baseline-prof.txt"
          echo "BASELINE_FILE_PATH=${baseline_file_path}" >> $GITHUB_OUTPUT


      # Make kvm able to launch emulator
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      # steps.create_baseline_task.outputs.BASELINE_TASK
      - id: create_baseline_task
        run: |
          build_variant_uppercase=${{ steps.create_uppercase_variant.outputs.BUILD_VARIANT_NAME_UPPERCASE }}
          no_test_param="-P android.testInstrumentationRunnerArguments.androidx.benchmark.enabledRules=BaselineProfile"
          task_name="generate${{ steps.create_uppercase_variant.outputs.BUILD_VARIANT_NAME_UPPERCASE }}BaselineProfile"
          path=":instances:android:app"          
          gradlew_full_task="$path:$task_name $no_test_param  --stacktrace"
          echo "BASELINE_TASK=$gradlew_full_task" >> $GITHUB_OUTPUT    

      # Here also specified ANDROID environment variables for sudo command
      - name: Run baseline profiles
        run: |
          ./gradlew ${{ steps.create_baseline_task.outputs.BASELINE_TASK }}

      - uses: actions/upload-artifact@184d73b71b93c222403b2e7f1ffebe4508014249
        name: "Upload baseline file"
        with:
          name: ${{ steps.create_baseline_file_id.outputs.BASELINE_FILE_ID }}
          path: ${{ steps.create_baseline_file_path.outputs.BASELINE_FILE_PATH }}
