name: Pull Request CI

on:
  pull_request:
    branches:
      - 'dev'
  merge_group:

# Concurrency strategy:
#   github.workflow: distinguish this workflow from others
#   github.event_name: distinguish `push` event from `pull_request` event
#   github.ref_name: distinguish branch
#   github.repository: distinguish owner+repository
#
# Reference:
#   https://docs.github.com/en/actions/using-jobs/using-concurrency
#   https://docs.github.com/en/actions/learn-github-actions/contexts#github-context
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{github.ref_name}}-${{github.repository}}
  cancel-in-progress: true


jobs:
  info:
    name: "Display concurrency info"
    runs-on: [self-hosted, AndroidShell]
    steps:
      - run: |
          echo "github.workflow=${{ github.workflow }}"
          echo "github.event_name=${{ github.event_name }}"
          echo "github.ref_name=${{ github.ref_name }}"
          echo "github.repository=${{ github.repository }}"
  test:
    name: "Run unit tests"
    runs-on: [self-hosted, AndroidShell]
    steps:
      - uses: actions/checkout@v4.2.1 # v4
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.17
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Unit test
        uses: gradle/actions/setup-gradle@v3.2.1 # v3
        with:
          arguments: testDebugUnitTest desktopTest
  detekt:
    name: "Check project by detekt"
    runs-on: [self-hosted, AndroidShell]
    steps:
      - uses: actions/checkout@v4.1.1 # v4
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.17
        uses: actions/setup-java@v4.2.1 # v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: detekt
        uses: gradle/actions/setup-gradle@v3.2.1 # v3
        with:
          arguments: detektMain
  android_lint:
    name: "Check project by android`s lint"
    runs-on: [self-hosted, AndroidShell]
    steps:
      - uses: actions/checkout@v4.1.1 # v4
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.17
        uses: actions/setup-java@4.2.1 # v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Android lint
        uses: gradle/actions/setup-gradle@v3.2.1 # v3
        with:
          arguments: lint
