name: Pull Request CI

on:
  pull_request:
    branches:
      - 'dev'

jobs:
  test:
    name: "Run unit tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build debug
        run: ./gradlew assembleDebug
      - name: Unit-test
        run: ./gradlew testDebug
  detekt:
    name: "Check project by detekt"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: detekt
        run: ./gradlew detekt
  changelog_changes:
    name: "Checking that changelog has changed"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Get change status for CHANGELOG.md
        id: changed-changelog
        uses: tj-actions/changed-files@v18.7
        with:
          files: CHANGELOG.md
      - name: Failed if changelog not changed
        if: steps.changed-changelog.outputs.any_changed != 'true'
        uses: actions/github-script@v3
        with:
          script: core.setFailed('CHANGELOG.md has not changed! You need to write human-readable changes in each Pull Request')
