name: Pull Request CI

on:
  pull_request:
    branches:
      - 'dev'
  merge_group:

jobs:
  test:
    name: "Run unit tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Unit test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: testDebug
  detekt:
    name: "Check project by detekt"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: detekt
        uses: gradle/gradle-build-action@v2
        with:
          arguments: detekt
  android_lint:
    name: "Check project by android`s lint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Android lint
        uses: gradle/gradle-build-action@v2
        with:
          arguments: lint
  changelog_changes:
    name: "Checking that changelog has changed"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Get change status for CHANGELOG.md
        id: changed-changelog
        uses: tj-actions/changed-files@v18.7
        with:
          files: CHANGELOG.md
      - name: Failed if changelog not changed
        if: steps.changed-changelog.outputs.any_changed != 'true'
        uses: actions/github-script@v7
        with:
          script: core.setFailed('CHANGELOG.md has not changed! You need to write human-readable changes in each Pull Request')
