name: Check configuration change

on:
  pull_request:
    paths:
      - '**.gradle.kts'
      - 'build-logic/**'
      - 'gradle/**'
      - 'gradle.properties'
  merge_group:

jobs:
  release_build:
    name: "Build release"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build release
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleRelease bundleRelease
  debug_build:
    name: "Build debug"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build debug
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleDebug bundleDebug
  internal_build:
    name: "Build internal"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build internal
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleInternal bundleInternal