name: Build and publish Release Candidate

on:
  push:
    branches:
      - 'rc'

jobs:
  generate_version:
    runs-on: ubuntu-latest
    outputs:
      major_version: ${{ steps.vars.outputs.major_version }}
      minor_version: ${{ steps.vars.outputs.minor_version }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Generate build number
        id: buildnumber
        uses: einaregilsson/build-number@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Set variables'
        id: vars
        run: |
          export $(cat .github/workflows/version.env | xargs)
          echo "::set-output name=major_version::${MAJOR_VERSION}"
          echo "::set-output name=minor_version::${{ steps.buildnumber.outputs.build_number }}"
  build_internal:
    name: "Build internal version (with logs and s2r)"
    runs-on: ubuntu-latest
    needs: generate_version
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build internal release
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: |
          ./gradlew :instances:app:assembleInternal :instances:app:bundleInternal \
            -Dversion_code=${{ needs.generate_version.outputs.minor_version }} \
            -Dversion_name="${{ needs.generate_version.outputs.major_version }}.${{ needs.generate_version.outputs.minor_version }}-internal-rc" \
            -Dis_sentry_publish=true
      - name: Sign internal AAB
        id: sign_aab_internal
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: instances/app/build/outputs/bundle/internal
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_ALIAS_PASSWORD }}
      - name: Sign internal APK
        id: sign_apk_internal
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: instances/app/build/outputs/apk/internal
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_ALIAS_PASSWORD }}
      - name: Copy internal artifacts
        id: artifacts_copy
        run: |
          mkdir artifacts
          cp ${{ steps.sign_aab_internal.outputs.signedReleaseFile }} artifacts/flipper-zero-internal.aab
          cp ${{ steps.sign_apk_internal.outputs.signedReleaseFile }} artifacts/flipper-zero-internal.apk
          cp instances/app/build/outputs/mapping/internal/mapping.txt artifacts/mapping-internal.txt
          echo "::set-output name=path::artifacts/"
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-internal
          path: ${{ steps.artifacts_copy.outputs.path }}
  build_release:
    name: "Build release version"
    runs-on: ubuntu-latest
    needs: generate_version
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Set up JDK 1.11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build production release
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: |
          rm -rf **/build
          ./gradlew :instances:app:assembleRelease :instances:app:bundleRelease \
          -Dversion_code=${{ needs.generate_version.outputs.minor_version }} \
          -Dversion_name="${{ needs.generate_version.outputs.major_version }}.${{ needs.generate_version.outputs.minor_version }}-rc" \
          -Dis_sentry_publish=true
      - name: Sign release AAB
        id: sign_aab_release
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: instances/app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_ALIAS_PASSWORD }}
      - name: Sign release APK
        id: sign_apk_release
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: instances/app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_ALIAS_PASSWORD }}
      - name: Copy release artifacts
        id: artifacts_copy
        run: |
          mkdir artifacts
          cp ${{ steps.sign_aab_release.outputs.signedReleaseFile }} artifacts/flipper-zero-release.aab
          cp ${{ steps.sign_apk_release.outputs.signedReleaseFile }} artifacts/flipper-zero-release.apk
          cp instances/app/build/outputs/mapping/release/mapping.txt artifacts/mapping-release.txt
          echo "::set-output name=path::artifacts/"
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-release
          path: ${{ steps.artifacts_copy.outputs.path }}